{% extends 'taketest/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-3">Qualifying Test</h2>

    <div class="mb-3">
        <strong>
            Question <span id="currentIndex">1</span> of {{ questions|length }}
        </strong>
    </div>

    <form id="testForm" method="POST" action="{% url 'save_result' %}">
        {% csrf_token %}

        {% for q in questions %}
        <div class="question" style="display:none;">
            <p><strong>{{ forloop.counter }}. {{ q.text|safe }}</strong></p>

            {% for key, value in q.options.items %}
            <div class="form-check">
                <input class="form-check-input"
                    type="radio"
                    name="q{{ forloop.parentloop.counter }}"
                    value="{{ key }}"
                    id="q{{ forloop.parentloop.counter }}_{{ key }}">

                <label class="form-check-label"
                    for="q{{ forloop.parentloop.counter }}_{{ key }}">
                    {{ value|safe }}
                </label>
            </div>
            {% endfor %}

            <input type="hidden"
                name="correct{{ forloop.counter }}"
                value="{{ q.correct }}">
        </div>
        {% endfor %}


        <input type="hidden" name="total" value="{{ questions|length }}">
        <input type="hidden" name="score" id="scoreField">

        <div class="mt-4 d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" id="prevBtn" disabled>
                Previous
            </button>
            <button type="button" class="btn btn-primary" id="nextBtn">
                Next
            </button>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'taketest/js/taketest.js' %}"></script>
{% endblock %}
